
/***************Margin*****************/

.body-marging-none{
    margin: 0 !important;
}

.marginnone{
    margin: unset;
}

.body-marging{
    margin: 0 2% 0 2%;
}

.break {
    flex-basis: 100%;
  }

.margin{
    margin: 0 0 0 10px;
}

.marginfilter{
    margin-right: 2.5%;
}

/***************Padding******************/

.padding-menu{
    padding-top: 30px;
}

.paddingcardfooter{
    padding: 0px 0px 5px 15px;
}

.padding-lodging{
    padding: 25px 0 0 70px;
}

.padding-lodging1{
    padding: 0px 0 0 70px;
}

.padding-popular{
    padding: 10px 0 0 50px;
}

.padding-popular2{
    padding: 10px 0 0 0px;
}

.padding-body{
    margin-top: 1%;
}

.padding-activity{
    padding: 0 0 0 45px ;
}

.padding-stars1{
    padding: 40px 0 0 10px;
}

.padding-stars2{
    padding: 25px 0 0 10px;
}

/***************Police*****************/

.raleway{
    font-family: 'Raleway', sans-serif;
}

.font-weight-lighter{
    font-weight: lighter;
}

.font-weight-bold{
    font-weight: bold;
}

.font-size-register{
    font-size: 15px;
}

.font-size-activity{
    font-size: 15px ;
    padding-left: 5%;
}

.font-size-popular{
    font-size: 18px;
    padding: 0 5px 20px 10px;
}

.text-deco{
    text-decoration: none;
    color: black;
}

/***************Desktop*****************/

@media all and (min-width: 1024px){
    .flex-space-around{
        display: flex;
        justify-content: space-around;
        flex-direction: row-reverse;
    }

    .hide-mobile{
        display: none;
    }
}

.width100{
    width: 100%;
}

.container.menu-item > li{
    margin: 0px 15px 0 15px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none ;
}

.margin02{
    margin: 0px 150px 30px 10px
}

.flex-wrap-all{
    flex-wrap: wrap;
}

.list-style-type-none{
    list-style-type: none;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
}

.flex-space-evenly{
    display: flex;
    justify-content: space-evenly;
}

.flex-direction{
    display: flex;
    flex-direction: row;
    flex-direction: column;
}

.flex-start{
    Display: flex;
    justify-content: flex-start;
}

.align-item{
    align-items: center;
}

.research{
    border: 1px solid rgb(211, 211, 211);
    height: 50px;
    width: 465px;
    border-radius: 15px 15px 15px 15px;
}

.tracking{
    height: 50px;
    width: 50px;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
}

.main-search{
    flex-grow: 1;
}

.text-search{
    width: 100%;
    height: 44px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5%;
}

.button-search{
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 0px 15px 15px 0px;
    background-color: #0065FC;
    text-align: center;
    color: #f2f2f2;
    height: 50px;
    font-size: 20px;
    border: none;
    padding: 0 20px 0 20px;
}

.menufilter{
    display: flex;
    align-items: center;
}

.button{
    display: flex;
    align-items: center;
    border-radius: 50px 50px 50px 50px;
    border: 3px solid rgb(211, 211, 211);
    height: 50px;
    width: 180px;   
}

.button1{
    width: 135px;
}

.button2{
    width: 230px
}

.menuicons{
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50px 50px 50px 50px;
    background-color: #DEEBFF;
    text-align: center;
    color:#0065FC;
    height: 50px;
    width: 50px;
    font-size: 20px;
    margin-right: 10px;
}

.infoicon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px 50px 50px 50px;
    background-color: white;
    color: #0065FC;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    border: 1px solid #f3f3f3;
}

.mid-background-grey{
    align-items: stretch;
    margin: 40px 0px 40px 0px;
    width: 100%;
}

.background-grey-lodging{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 70%;
    margin: 0px 40px 0px 0px;
}

.container{
    display: flex;
    justify-content:space-between;
    flex-flow: wrap;
    align-content:flex-start;    
}

.container1{
    display: flex;
    justify-content:space-evenly;
    flex-flow: wrap;
    align-content:flex-start;    
}

.card{
    background-color: #fff;
    margin: 10px;
    border-radius: 25px;
    height: 210px;
    width: 245px;
}

.inline{
    display: flex;
    width: 345px;
    height: 145px;
}

@media all and (max-width: 1435px){
    .inline{
        display: flex;
        width:auto;
        height:auto;
    }
}

.card-image{
    border-radius: 25px 25px 0 0;
    height: 125px;
    width: 97%;
    margin: 5px;
    object-fit: cover;
}

.background-grey-popular{
    display: flex;
    flex-flow: column wrap;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 30%;
}

.card-image-popular{
    border-radius: 25px 0px 0px 25px;
    height: 135px;
    width: 125px;
    margin: 5px;
    object-fit: cover;
}

.white-background-activity{
    display: flex;
    justify-content:space-around;
    margin: 40px 0px 40px 0px; 
}

.card-white-a{
    border-radius: 25px 25px 25px 25px;
    height: 445px;
    width: 300px;
    margin: 5px;
}

.card-image-white-a{
    border-radius: 25px 25px 0 0;
    width: 300px;
    height: 390px;
    object-fit: cover;   
}

.card-white-b{
    border-radius: 25px 25px 25px 25px;
    height: 240px ;
    width: 300px ;
}

.card-image-white-b{
    border-radius: 25px 25px 0 0;
    width: 300px;
    height: 185px;
    object-fit: cover;   
}

.card-white-c{
    border-radius: 25px 25px 25px 25px;
    height: 165px ;
    width: 300px ;
}

.card-image-white-c{
    border-radius: 25px 25px 0 0;
    width: 300px;
    height: 110px;
    object-fit: cover;   
}

.card-white-d{
    border-radius: 25px 25px 25px 25px;
    height: 195px ;
    width: 300px ;
}

.card-image-white-d{
    border-radius: 25px 25px 0 0;
    width: 300px;
    height: 140px;
    object-fit: cover;   
}

.card-white-e{
    border-radius: 25px 25px 25px 25px;
    height: 210px ;
    width: 300px ;
}

.card-image-white-e{
    border-radius: 25px 25px 0 0;
    width: 300px;
    height: 150px;
    object-fit: cover;   
}

.shadow{
    box-shadow: 0px 2px 2px rgb(243, 241, 241);
}

.color-blue{
    color: #0065FC;
}

.starcolor{
    color: #0065FC;
    font-size: 80%;
}

.starcolor0{
    color: #f3f3f3;
    font-size: 80%;
}

.box-footer{
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding-top: 30px;
}

.box-footer > ul{
    list-style-type: none;
}

/***************Link*****************/

.link{
    color: black;
    text-decoration: none;
}

.link:hover{
    color:#0065FC;
    border-top: 3px solid #0065FC;
}

.link1{
    color: rgb(0, 0, 0);
}

.link1:hover{
    color:#0065FC;
}

/***************Mobile*****************/

@media all and (max-width: 1024px){
    body{
        width: 100%;
        flex-wrap: wrap;
    }

    .padding-left-mobile{
        padding-left: 0;
    }

    .margin-bottom-mobile{
        margin-bottom: 10px;
    }

    .flex-grow-mobile{
        flex-grow: 1;
        text-align: center;   
    }

    .width100-mobile{
        width: 100%;
    }

    .flex-space-around{
            display: block;
    }

    .padding-menu-mobile{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .margin-activity {
    padding: 945px 0 0 30px;
    }

    link{
        color: black;
        text-decoration: none;
    }

    link:hover{
        color:#0065FC;
        border-bottom: 3px solid #0065FC;
    }

    .research{
        width: 90%;
    }

    .button-search{
        border-radius: 15px 15px 15px 15px;
        width: 5%;  
    }

    .mobile-research{
        display: flex;
        justify-content: flex-end;
    }

    .text-search {
        width: 80%;
        height: 44px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        padding-left: 5%;
    }
    
    .icone-research{
        border-radius: 15px 15px 15px 15px;
        background-color: #0065FC;
        color: white;
        height: 50px;
        width: 50px;
        font-size: 20px;
    }

    .background-grey-popular {
        display: flex;
        flex-flow: column wrap;
        background-color: #f2f2f2;
        border-radius: 20px;
        width: 100%;
    }

    .mid-background-grey {
        align-items: stretch;
        margin: 40px 0px 40px 0px;
        width: 100%;
    }

    .padding-popular{
        padding: 10px 10px 10px 10px;
    }

    .background-grey-lodging {
        height: 625px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .card-mobile{
        background-color: #fff;
        margin: 10px;
        height: 210px;
        width: 100%;
    }

    .card-popular-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .card-mobile1{
        background-color: #fff;
        margin: 10px;
        border-radius: 25px;
        width: 100%;
        height: 100%;
    }

    .card-image-popular {
        border-radius: 25px 0px 0px 25px;
        height: 135px;
        width: 125px;
        margin: 5px;
        object-fit: cover;
    }
    
    .white-background-activity {
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 40px 0px;
    }

    .card-white-mobile {
        border-radius: 25px 25px 25px 25px;
        margin: 5px;
        height: 100%;
        width: 100%;
    }

    .box-card{
        width: 100%;
        height: 100%;
    }

    .break-mobile {
        flex-basis: 100%;
    }

    .container.menu-item > li{
        margin: 0px 0px 0 0px;
        list-style-type: none ;
    }

    .link-botom:hover{
        color:#0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none
    }

    .hide-desktop{
        display: none;
    }

    .container-mobile{
        display: block;
    }

    .position-absolute{
        position: absolute;
        top: 20px;
        right:20px;
    }
}

/***************Tablette*****************/

  @media (min-width: 768px) and (max-width:1023px) {
.card-image-popular {
    border-radius: 25px 0px 0px 25px;
    height: 135px;
    width: 395px;
    margin: 5px;
    object-fit: cover;
}
  }
