





body{
    padding: 0 15px 0 15px;
}

.container{
    display: flex;
    justify-content:space-between;
    flex-flow: wrap;
    align-content:flex-start;
}

.container.menu-item > li{
    margin: 15px 15px 0 15px;
    display: flex;
    justify-content: flex-end;

}









.mid-background-grey{
    display: flex;
    justify-content: space-between;
}


.background-grey-left{
    background-color: rgb(211, 211, 211);
    border-radius: 20px;
}

.card{
    background-color: #fff;
    margin: 10px;
    border-radius: 25px;
}

.card-image{
    border-radius: 25px 25px 0 0;
    height: 200px;
    margin: 5px;
}

.background-grey-right{
    background-color: rgb(211, 211, 211);
    border-radius: 20px;

}




.white-background-down{
    display: flex;
    justify-content:space-between ;
    
}

.box-cards-white{
    background-color: #fff;
    margin: 10px;
    border-radius: 25px;
}

.card-white{
    border-radius: 25px 25px 0 0;
    height: 200px;
    margin: 5px;


}